{% extends "layouts/main.html" %}

{% block content %}
    {% if name != None %}
        <h1>Mein Name ist {{ name }} und ich bin {{ age }} Jahre alt</h1>
    {% endif %}

    <form method="GET">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{% if name != None %}{{ name }}{% endif %}">
        <label for="age">Alter:</label>
        <input type="text" name="age" id="age" value="{{ age }}, "21">
        <br />
        <input type="submit" value="Absenden!" />
    </form>
{% endblock %}    